* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: dimgray;
}

.load {
  position: absolute;
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.load-video {
  width: 10vw;
  height: 10vw;
}

.element {
  width: 0px;
  height: 0px;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element-wrapper {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.decor {
  width: 0px;
  height: 0px;
  z-index: 12;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.decor-wrapper {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.build {
  width: 0px;
  height: 0px;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.build-wrapper {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.mob {
  width: 0px;
  height: 0px;
  z-index: 0;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mob-wrapper {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.player {
  width: 0px;
  height: 0px;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.player-wrapper {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.room {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  background-color: #111;
}

.room-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-wrapper-column_item {
  width: 100px;
  height: 100px;
}

.room-wrapper-column_item-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../images/textures/wood.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.terrain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.terrain-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.terrain-wrapper-column_item {
  width: 100px;
  height: 100px;
  background-color: green;
}

.terrain-wrapper-column_item-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../images/textures/grass.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */