*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
    user-select: none;
}

body{
    background-color: rgb(105, 105, 105);
}

.load{
    position: absolute;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    &-video{
        width: 10vw;
        height: 10vw;
    }
}

.element{
    width: 0px;
    height: 0px;
    
    z-index: 2;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    // border: 0.1vw solid rgb(211, 77, 255);

    &-wrapper{
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.decor{
    width: 0px;
    height: 0px;
    
    z-index: 12;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    // border: 0.1vw solid rgb(211, 77, 255);

    &-wrapper{
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.build{
    width: 0px;
    height: 0px;
    
    z-index: 2;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    // border: 0.1vw solid rgb(0, 255, 213);

    &-wrapper{
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.mob{
    width: 0px;
    height: 0px;
    
    z-index: 0;

    transition-duration: 2000ms;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    // border: 0.1vw solid rgb(238, 250, 64);

    &-wrapper{
        width: 100%;
        height: 100%;
        background-size: 100% 100%;

        background-position: center;
        background-repeat: no-repeat;
    }
}

.player{
    width: 0px;
    height: 0px;
    
    z-index: 0;
    
    position: absolute;
    left: 0;
    top: 0;

    // border: 0.1vw solid rgb(255, 255, 255);

    &-wrapper{
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.room{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 10;
    background-color: #111;
    &-wrapper{
        display: flex;
        &-column{
            &_item{
                width: 100px;
                height: 100px;
                // border: 0.1vw solid #111;
                &-wrapper{
                    width: 100%;
                    height: 100%;
                    background-image: url('../images/textures/wood.jpg');
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

.terrain{
    display: flex;
    overflow: hidden;
    &-wrapper{
        display: flex;
        &-column{
            &_item{
                width: 100px;
                height: 100px;
                // border: 0.1vw solid #111;
                background-color: green;
                &-wrapper{
                    width: 100%;
                    height: 100%;
                    background-image: url('../images/textures/grass.jpg');
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}